@font-face {
        font-family: 'spaceMono-bold';
        src: url('~/assets/fonts/Space_Mono/SpaceMono-Bold.ttf')
                format('truetype');
        font-weight: 'bold';
        font-style: 'normal';
}
/*
@font-face {
  font-family: "spaceMono";
  src: url("~/assets/fonts/Space_Mono/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: "bold";
  font-style: "italic";
} */

@font-face {
        font-family: 'spaceMono';
        src: url('~/assets/fonts/Space_Mono/SpaceMono-Regular.ttf')
                format('truetype');
        font-weight: 'normal';
        font-style: 'normal';
}

/* @font-face {
  font-family: "spaceMono";
  src: url("~/assets/fonts/Space_Mono/SpaceMono-Italic.ttf") format("truetype");
  font-weight: "normal";
  font-style: "italic";
} */
